#pizzaBanner {
  width: 100%;
}

#pizzaBanner .carousel-item img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

#pizzaBanner .carousel-indicators {
  margin-bottom: 20px;
}

#pizzaBanner .carousel-control-prev,
#pizzaBanner .carousel-control-next {
  width: 8%;
}