#pizzaBanner {
  width: 100%;
}

#pizzaBanner .carousel-item img {
  width: 100%;
  height: auto;
  display: block;
}

#pizzaBanner .carousel-indicators {
  margin-bottom: 15px;
}

#pizzaBanner .carousel-control-prev,
#pizzaBanner .carousel-control-next {
  width: 8%;
}